<div class="auth-form">
    <div class="auth-header">
        <h1>Forgot Password</h1>
    </div>
    
    <form action="/auth/forgot-password" method="POST" id="forgotPasswordForm">
        <p class="form-description">Enter the email used when creating an account on this platform</p>
        <div class="form-group">
            <input type="email" id="email" name="email" required placeholder="Please Enter Email">
        </div>
        
        <button type="submit" class="auth-button">SEND RESET LINK</button>
    </form>
    
    <div class="auth-links mt-4">
        
        <div class="auth-footer">
            <p>Remember your password? <a href="/auth/login">Login</a></p>
        </div>
        <div class="auth-footer">
            <p>Don't have access to the email? <a href="register">Create a new account</a></p>
        </div>
    </div>
</div>
