<header class="header">
    <!-- Top Section -->
    <nav class="nav nav-container">
        <div class="nav__data">
           <a href="/" class="nav__logo">
            <img src="/img/zz-logo.png" width="80px" height="70px" alt="Roads of adventure logo">
           </a>
           
           <div class="nav__toggle" id="nav-toggle">
              <i class="ri-menu-line nav__burger"></i>
              <i class="ri-close-line nav__close"></i>
           </div>
        </div>

        <!--=============== NAV MENU ===============-->
        <div class="nav__menu" id="nav-menu">
           <ul class="nav__list">
              <li><a href="/" class="nav__link">Home</a></li>

              <li><a href="/countries/uganda" class="nav__link"><span class="fi fi-ug"></span> Uganda</a></li>
              <li><a href="/countries/kenya" class="nav__link"><span class="fi fi-ke"></span> Kenya</a></li>
              <li><a href="/countries/tanzania" class="nav__link"><span class="fi fi-tz"></span> Tanzania</a></li>
              <li><a href="/countries/rwanda" class="nav__link"><span class="fi fi-rw"></span> Rwanda</a></li>

              <!--=============== DROPDOWN 1 ===============-->
              <li class="dropdown__item">
                 <div class="nav__link">
                    Other destinations<i class="ri-arrow-down-s-line dropdown__arrow"></i>
                 </div>

                 <ul class="dropdown__menu">
                    <li>
                       <a href="/countries/congo" class="dropdown__link">
                        <span class="fi fi-cd"></span> Congo
                       </a>                          
                    </li>

                    <li>
                       <a href="/countries/south-africa" class="dropdown__link">
                        <span class="fi fi-za"></span> South Africa
                       </a>
                    </li>
                    <li>
                       <a href="/countries/malawi" class="dropdown__link">
                        <span class="fi fi-mw"></span> Malawi
                       </a>
                    </li>
                    <li>
                       <a href="/countries/botswana" class="dropdown__link">
                        <span class="fi fi-bw"></span> Botswana
                       </a>
                    </li>
                 </ul>
              </li>
              
              <li><a href="/page/impacts" class="nav__link">Impacts</a></li>
              <li><a href="/enquiry" class="nav__link"><button>Enquiry</button></a></li>
           </ul>

           <div class="nav_grid">
            <div class="nav_destinations">
                <h3>Destinations</h3>
                <ul class="nav_list_grid">
                    <li class="nav_grid_item"><a href="/countries/uganda"><span class="fi fi-ug"></span> Uganda</a></li>
                    <li class="nav_grid_item"><a href="/countries/kenya"><span class="fi fi-ke"></span> Kenya</a></li>
                    <li class="nav_grid_item"><a href="/countries/tanzania"><span class="fi fi-tz"></span> Tanzania</a></li>
                    <li class="nav_grid_item"><a href="/countries/rwanda"><span class="fi fi-rw"></span> Rwanda</a></li>
                    <li class="nav_grid_item"><a href="/countries/madagascar"><span class="fi fi-mg"></span> Madagascar</a></li>
                    <li class="nav_grid_item"><a href="/countries/botswana"><span class="fi fi-bw"></span> Botswana</a></li>
                    <li class="nav_grid_item"><a href="/countries/south-africa"><span class="fi fi-za"></span> South Africa</a></li>
                    <li class="nav_grid_item"><a href="/countries/malawi"><span class="fi fi-mw"></span> Malawi</a></li>
                </ul>
            </div>
            <div class="nav_other_links">
                <h4>Other Links</h4>
                <ul class="nav_list_grid">
                    <li class="nav_grid_item"><a href="/"><i class='bx bx-home'></i> Home</a></li>
                    <li class="nav_grid_item"><a href="/page/impacts"><i class='bx bx-universal-access'></i> Impacts</a></li>
                    <li class="nav_grid_item"><a href="/page/contact"><i class='bx bx-phone'></i> Contact</a></li>
                    <li class="nav_grid_item"><a href="/page/about"><i class='bx bx-info-circle'></i> About Us</a></li>
                </ul>
            </div>
        </div>
        </div>
     </nav>
</header>
